[contentEditable] {
    text-overflow: clip;
    white-space: nowrap;
    overflow:hidden;
    outline: none;
    border: none;
    border-bottom: 1px solid transparent;
}
[contentEditable="true"], [contentEditable="plaintext-only"] {
    background-color: #ddd;
    border-bottom-color: black;
}

.invalid:is(:focus, .editor-focused), .invalid:is(:focus, .editor-focused) .inherit-invalid {
    border-color: red;
    box-shadow: 0 0 10px red;
}
.invalid:not(:is(:focus, .editor-focused))::after, .changed::after {
    font-size: 0.9em;
    border-color: transparent;
    border-style: none solid solid;
    border-width: 1em 0.5773em; /* 0.5773 = 1/sqrt(3) */
    width: 0;
    height: 0;
    display: inline-flex;
    justify-content: center;
    color: white;
    font-weight: bold;
    margin-left: 5px;
    content: "!";
}
.changed::after {
    border-bottom-color: blue;
}
.invalid:not(:is(:focus, .editor-focused))::after {
    border-bottom-color: #d00;
}

/* [data-default] { 
    I don't know why this existed, but in firefox, an empty inlinne-block element automaticall
    gets a <br> inserted into it, but an emtpy inline element doesn't. This was messing up 
    input, so I changed content-editables backto inline
    display: inline-block;
    vertical-align: bottom;
} */
[data-default]:empty::before {
    content: attr(data-default);
    color: gray;
}
[data-default][contentEditable="false"]:empty::before {
    color: black;
}

#stats {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: fit-content;
    gap: 15px;
}
.stat {
    border: 3px solid black;
    border-radius: 5px;
    font-size: 24px;
    width: 36px;
    height: 48px;
    text-align: center;
    position: relative;
    margin-bottom: 15px;
}
.stat-val {
    width: 100%;
    max-width: 100%;
    display: inline-block;
    margin-top: 5px;
}
.stat-mod {
    border: 3px solid black;
    font-size: 14px;
    width: 20px;
    height: 16px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
}

#hp {
    font-size: 20px;
}