<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Character Sheet</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/static/styles/common.css">
        <link rel="stylesheet" href="/static/styles/character.css">
        <script defer type="module" src="/static/scripts/character.js"></script>

        <link rel="stylesheet" href="/static/styles/notifications.css">
        <script src="/static/scripts/notifications.js" type="module" defer></script>
    </head>
    <body data-editing="false">
        <main>
            <div id="mainpage" class="page">
                <header class="page-header">
                    <div class="left-header-banner">
                        <div class="header-banner-back"></div>
                    </div>
                    <div class="header-labeled-container">
                        <div class="header-large-value-box">
                            <div class="header-large-value-container">
                                <div id="name-value" class="header-large-value"></div>
                            </div>
                        </div>
                        <div class="header-label header-large-label">Character Name</div>
                    </div>
                    <div class="header-other">
                        <div>
                            <div id="main-header-other-contents" class="header-other-contents">
                                <div id="hr1"></div>
                                <div id="hr2"></div>
                                <div id="classAndLvl"></div>
                                <div id="background"></div>
                                <div id="playerName"></div>
                                <div class="header-label">Class & Level</div>
                                <div class="header-label">Background</div>
                                <div class="header-label">Player Name</div>
                                <div id="race"></div>
                                <div id="alignment"></div>
                                <div id="xp"></div>
                                <div class="header-label">Race</div>
                                <div class="header-label">Alignment</div>
                                <div class="header-label">Experience Points</div>
                            </div>
                        </div>
                    </div>
                    <div class="right-header-banner"></div>
                </header>
                <div id="numbers">
                    <div id="stats"></div>
                    <div id="right-number-flex">
                        <label for="inspiration" id="inspiration-label" class="standaloneLabeledValue">
                            <div>
                                <input type="checkbox" id="inspiration">
                                <div>&check;</div>
                            </div>
                            <div>
                                <div>
                                    Inspiration
                                </div>
                            </div>
                        </label>
                        <div class="standaloneLabeledValue">
                            <div>
                                <div id="proficiencyBonus"></div>
                            </div>
                            <div>
                                <div>
                                    Proficiency Bonus
                                </div>
                            </div>
                        </div>
                        <div id="savingThrowsContainer">
                            <div id="savingThrows"></div>
                            <span class="sectionTitle staticPos">Saving Throws</span>
                        </div>
                        <div id="skillContainer">
                            <div id="skills"></div>
                            <span class="sectionTitle staticPos">Skills</span>
                        </div>
                    </div>
                </div>
                <div id="lower-proficiencies">
                    <div id="perception" class="standaloneLabeledValue">
                        <div>
                            <div id="perceptionValue"></div>
                        </div>
                        <div>
                            <div>Passive Perception</div>
                        </div>
                    </div>
                    <div id="other-proficiencies">
                        <div id="other-proficiencies-content">
                            <p><span class="prof-type">Armor:</span> <span id="armor-prof"></span></p>
                            <p><span class="prof-type">Weapons:</span> <span id="weapons-prof"></span></p>
                            <p><span class="prof-type">Tools:</span> <span id="tools-prof"></span></p>
                            <p><span class="prof-type">Languages:</span> <span id="languages-prof"></span></p>
                        </div>
    
                        <div class="sectionTitle">Other Proficiencies & Languages</div>
                    </div>
                </div>
                <div id="misc">
                    <div id="misc-row-1">
                        <div id="ac-container">
                            <div class="inputLine"><div id="ac" class="ignore-invalid"></div></div>
                            <div class="sectionTitle">Armor Class</div>
                        </div>
                        <div id="initiative-container">
                            <div class="written"><div id="initiative" class="ignore-invalid"></div></div>
                            <div class="sectionTitle">Initiative</div>
                        </div>
                        <div id="speed-container">
                            <div class="inputLine"><div id="speed" class="ignore-invalid"></div></div>
                            <div class="sectionTitle">Speed</div>
                        </div>
                    </div>
                    <div id="misc-row-2">
                        <div id="health">
                            <div class="topText inputLine">
                                <span>Hit Point Maximum:&nbsp;</span><span id="maxHpValue" class="ignore-invalid" data-denom></span>
                            </div>
                            <div class="inputLine"><div id="currentHp" class="ignore-invalid" data-numer></div></div>
                            <div class="sectionTitle">Current Hit Points</div>
                        </div>
                        <div id="temp-hp">
                            <div class="inputLine"><div id="temp-hp-value" class="ignore-invalid"></div></div>
                            <div class="sectionTitle">Temporary Hit Points</div>
                        </div>
                    </div>
                    <div id="misc-row-3">
                        <div id="hit-dice">
                            <div class="topText inputLine">
                                <span>Total:&nbsp;</span><span id="hit-dice-total" class="ignore-invalid" data-denom></span>
                            </div>
                            <div class="inputLine"><div id="hit-dice-value" class="ignore-invalid"></div></div>
                            <div class="sectionTitle">Hit Dice</div>
                        </div>
                        <div id="death-saves">
                            <div id="death-saves-grid">
                                <div id="ds-success-label" class="ds-label">Successes</div>
                                <div id="ds-success-counter" class="ds-counter">
                                    <div class="ds-line"></div>
                                    <div class="ds-boxes">
                                        <label>
                                            <input type="checkbox" name="ds-success">
                                            <div class="customCheckbox"></div>
                                        </label>
                                        <label>
                                            <input type="checkbox" name="ds-success">
                                            <div class="customCheckbox"></div>
                                        </label>
                                        <label>
                                            <input type="checkbox" name="ds-success">
                                            <div class="customCheckbox"></div>
                                        </label>
                                    </div>
                                </div>
                                <div id="ds-fail-label" class="ds-label">Failures</div>
                                <div id="ds-fail-counter" class="ds-counter">
                                    <div class="ds-line"></div>
                                    <div class="ds-boxes">
                                        <label>
                                            <input type="checkbox" name="ds-fail">
                                            <div class="customCheckbox"></div>
                                        </label>
                                        <label>
                                            <input type="checkbox" name="ds-fail">
                                            <div class="customCheckbox"></div>
                                        </label>
                                        <label>
                                            <input type="checkbox" name="ds-fail">
                                            <div class="customCheckbox"></div>
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="sectionTitle">Death Saves</div>
                        </div>
                    </div>
                </div>
                <div id="attacks">
                    <div id="attacks-header" class="list-header">
                        <div class="weapon-name">Name</div>
                        <div class="weapon-bonus">Atk Bonus</div>
                        <div class="weapon-damage">Damage/Type</div>
                    </div>
                    <div id="attacks-table"></div>
                    <div id="attacks-text-container">
                        <span id="attacks-text"></span>
                    </div>
                    <div class="sectionTitle">Attacks & Spellcasting</div>
                </div>
                <div id="equipment">
                    <div id="equipment-content">
                        <div id="money"></div>
                        <div id="equipment-text-container">
                            <span id="equipment-text"></span>
                        </div>
                    </div>
                    <div class="sectionTitle">Equipment</div>
                </div>
                <div id="character" class="placeholder"></div>
                <div id="features">
                    <div id="features-list"></div>
                    <div class="sectionTitle">Features & Traits</div>
                </div>
            </div>
        </main>
        <div id="top-left">
            <a id="home" type="button" href="./">
                <img src="/static/img/logo.svg">
            </a>
            <span id="title"></span>
        </div>
        <div id="buttons">
            <div id="collapsible-buttons" class="collapse">
                <div>
                    <button id="collapse" type="button"></button>
                    <button id="kill" type="button"></button>
                    <!-- <button id="settings" type="button"></button> -->
                </div>
            </div>
            <button id="revive" type="button"></button>
            <button id="sharing" type="button" disabled></button>
            <button id="add-spell-sheet" type="button" disabled></button>
            <button id="edit" type="button"></button>
        </div>
        <div id="saving" style="display: none">Saving...</div>
        <div id="heartbeat-overlay" class="overlay"></div>
        <div id="death-overlay" class="overlay">
            <div id="rip">RIP <span id="rip-name"></span></div>
        </div>
        <div id="modal-backdrop"></div>
        <div id="sharing-modal" class="modal">
            <h3 class="modal-header">Direct Sharing</h3>
            <div>Enter the <strong>usernames</strong> of the people you want to share this with, separated by commas</div>
            <div id="direct-sharing-list" class="list" data-list-override="true">
                <div class="direct-sharing-row direct-sharing-header">
                    <div>Username</div>
                    <div>Permissions</div>
                </div>
                <button id="direct-sharing-add" class="list-add" type="button">
                    <div class="list-add-line"></div>
                    <div class="list-plus">
                        <div class="list-plus-h"></div>
                        <div class="list-plus-v"></div>
                    </div>
                    <div class="list-add-line"></div>
                </button>
            </div>
            <h3 class="modal-header">Link Sharing</h3>
            <div id="link-sharing-box">
                <div>People with the link to this page have the following permissions:</div>
                <select name="link-sharing" id="link-sharing-dropdown">
                    <option value="none">None</option>
                    <option value="view">View</option>
                    <option value="edit">Edit</option>
                </select>
            </div>
            <input id="sharing-submit" type="button" value="OK">
        </div>
    </body>
</html>